body{
    background-color: #f8f9fa;
    /*overflow: hidden;*/
}

.navbar {
    background-color: #1A1A1A !important;
}

.navbar a {
    color: white !important;
}

.navbar a:hover {
    color: #E9516A !important;
}

.navbar-toggler {
    background-color: #ffffff !important;
}

.logo {
    width: 150px;
}

.boards {
    width: 100%;
    overflow: hidden;
}

.judul {
    padding: 35px 0 8px 40px;
    color: #1A1A1A;
    font-weight: bold;
}

.roundedrec {
    border-radius: 10px 10px 0px 0px;
    background: #DDDDDD;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-left:25px;
}

.roundedrec2 {
    border-radius: 10px;
    background: #DDDDDD;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
}

.roundedrec3 {
    border-radius: 10px;
    background: #DDDDDD;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-right:25px;
}

.insiderec {
    padding: 30px 20px 20px 20px;
}

.insiderec p {
    color: #1A1A1A;
}

.judul2 {
    color: #1A1A1A;
    font-weight: bold;
}

.roundedrec4 {
    margin-top: 21px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
}

.insiderec4 {
    padding: 20px 15px 15px 20px;
}

.kanan {
    text-align: right;
}

.buttontrash {
    border: none;
}

.trash {
    width: 20px;
}

.button1 {
    border-radius: 10px;
    background-color: #E9516A;
    font-size: 12px;
    color: white;
    padding: 5px 15px 5px 15px;
    border: none;
}

.button1:hover {
    border-radius: 10px;
    background-color: #1A1A1A;
    font-size: 12px;
    color: white;
    padding: 5px 15px 5px 15px;
    border: none;
}

.button2 {
    border-radius: 10px;
    background-color: #53BAC5;
    font-size: 12px;
    color: white;
    padding: 5px 15px 5px 15px;
    border: none;
}

.button2:hover {
    border-radius: 10px;
    background-color: #1A1A1A;
    font-size: 12px;
    color: white;
    padding: 5px 15px 5px 15px;
    border: none;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 14px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.roundedrec5 {
    border-radius: 0px 0px 10px 10px;
    background: #1A1A1A;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-left:25px;
}

.insiderec5 {
    padding: 20px 15px 15px 20px;
}

.center {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addtask {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

#panjang {
    width: 100%;
    text-align:center;
}

input[type=text] {
    border: none;
    padding: 12px; /* Some padding */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    border-radius: 4px 0px 0px 4px;
    width:70%;
}

input[type=submit] {
    background-color: #53BAC5;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    width:20%;
}

input[type=submit]:hover {
    background-color: #43969F;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    width:20%;
}

@media(max-width:700px){
    .logo {
        width: 100px;
    }
}

@media(max-width:991px){
    .roundedrec {
        margin-right:25px;
        margin-left:25px;
    }

    .roundedrec2 {
        margin-right:25px;
        margin-left:25px;
        margin-bottom:30px;
    }

    .roundedrec3 {
        margin-right:25px;
        margin-left:25px;
        margin-bottom:30px;
    }

    .roundedrec5 {
        margin-right:25px;
        margin-left:25px;
        margin-bottom:30px;
    }
}