html, body{
    background-color: #f8f9fa;
    height: 100%;
}

.landing {
    overflow: hidden;
    height: 100%;
}

h1{
    text-align: center;
    color: #1A1A1A;
    font-weight: bold;
}

h4{
    color: #1A1A1A;
    text-align: center;
}

.logo {
    width: 150px;
}

.pink{
    color: #E9516A;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 86%;
}

.instruction {
    padding-top: 50px;
    padding-bottom: 5px;
    color: #1A1A1A;
}

#panjang {
    width: 100%;
    text-align:center;
}

input[type=text] {
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px 0px 0px 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    width:30%;
}

input[type=submit] {
    background-color: #E9516A;
    border: 1px solid #E9516A; /* Gray border */
    color: white;
    margin-top: 13px;
    padding: 12px 25px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1A1A1A;
    border: 1px solid #1A1A1A; /* Gray border */
    color: white;
    margin-top: 13px;
    padding: 12px 25px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

@media(max-width:700px){
    .logo {
        width: 100px;
    }

    h1{
        font-size: 30px;
    }

    h4{
        font-size: 16px;
    }
}