body{
    background-color: #f8f9fa;
    /*overflow: hidden;*/
}

.navbar {
    background-color: #1A1A1A !important;
}

.navbar a {
    color: white !important;
}

.navbar a:hover {
    color: #E9516A !important;
}

.navbar-toggler {
    background-color: #ffffff !important;
}

.logo {
    width: 150px;
}

.boards {
    width: 100%;
    overflow: hidden;
}

.boardsName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0 0px 40px;
}

.judul {
    color: #1A1A1A;
    font-weight: bold;
}

.email {
    padding: 35px 40px 25px 0;
    text-align: right;
}

.emailTo {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #E9516A !important;
    color: white !important;
    padding:12px;
}

.emailTo:hover {
    background-color: #bf4257 !important;
}

.geserKanan {
    padding-left: 5px;
}

.kiri {
    text-align: left;
}

.buttonClose {
    background-color: #787878 !important;
    color: white !important;
    padding: 9px !important;
}

.buttonClose:hover {
    background-color: #636363 !important;
}

.buttonYes {
    background-color: #53BAC5 !important;
    color: white !important;
    padding: 9px !important;
}

.buttonYes:hover {
    background-color: #43969F !important;
}

#emailInput {
    border: 1px solid #ccc !important;
    margin-top: 15px;
}

.bawahanDikit {
    margin-top: 15px;
}

#newTaskNameInput {
    border: 1px solid #ccc !important;
}

#newTaskDescriptionInput {
    border: 1px solid #ccc !important;
}

.roundedrec {
    border-radius: 10px 10px 0px 0px;
    background: #DDDDDD;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-left:25px;
}

.roundedrec2 {
    border-radius: 10px;
    background: #DDDDDD;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-bottom: 25px;
}

.roundedrec3 {
    border-radius: 10px;
    background: #DDDDDD;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-right:25px;
    margin-bottom: 25px;
}

.insiderec {
    padding: 30px 20px 20px 20px;
}

.taskName {
    color: #1A1A1A;
    font-weight: bold;
}

.taskDesc {
    margin-top: -10px;
    color: #757575;
}

.judul2 {
    color: #1A1A1A;
    font-weight: bold;
}

.roundedrec4 {
    margin-top: 21px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
}

.insiderec4 {
    padding: 20px 15px 15px 20px;
}

.kanan {
    text-align: right;
}

.button2 {
    border: none;
    color: #aaaaaa;
    border-right: 1px solid #aaaaaa;
    padding-right: 15px;
    margin-right: 5px;
    background-color: transparent !important;
}

.button2:hover {
    color: #757575;
    background-color: transparent !important;
}

.button1 {
    color: #aaaaaa;
    border: none;
    background-color: transparent !important;
}

.button1:hover {
    color: #757575;
    background-color: transparent !important;
}

.button1:disabled, .button1[disabled] {
    color: #cccccc;
    border: none;
    background-color: transparent !important;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 14px;
    cursor: pointer;
    display: inline-block;
}

.roundedrec5 {
    border-radius: 0px 0px 10px 10px;
    background: #1A1A1A;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-left: 25px;
    margin-bottom: 25px;
}

.insiderec5 {
    padding: 20px 15px 15px 20px;
}

.center {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
}

.addtask {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

#taskForm {
    width: 100%;
    text-align: left;
    color: white;
}

input[type=text] {
    border: none;
    padding: 12px;
    box-sizing: border-box;
    resize: vertical;
    border-radius: 4px;
    width:100%;
    margin-bottom: 15px;
}

textarea {
    border: none;
    padding: 12px;
    box-sizing: border-box;
    resize: vertical;
    border-radius: 4px;
    width:100%;
    margin-bottom: 15px;
}

input[type=submit] {
    background-color: #53BAC5;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:30%;
}

input[type=submit]:hover {
    background-color: #43969F;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:30%;
}

#loader {
    color: #E9516A;
    font-size: 13px;
    display: none;
}

#checked {
    margin-left:5px;
    color: #E9516A;
    font-size: 13px;
    display: none;
}

@media(max-width:700px){
    .logo {
        width: 100px;
    }
}

@media(max-width:991px){
    .roundedrec {
        margin-right:25px;
        margin-left:25px;
    }

    .roundedrec2 {
        margin-right:25px;
        margin-left:25px;
        margin-bottom:30px;
    }

    .roundedrec3 {
        margin-right:25px;
        margin-left:25px;
        margin-bottom:30px;
    }

    .roundedrec5 {
        margin-right:25px;
        margin-left:25px;
        margin-bottom:30px;
    }

    .boardsName {
        padding: 35px 0 0 40px;
        border-bottom: #DDDDDD solid;
    }

    .email {
        padding: 20px 40px 20px 0;
    }
}