html, body{
    background-color: #f8f9fa;
    height: 100%;
}

nav {
    background-color: transparent !important;
}

.landing {
    overflow: hidden;
    height: 100%;
}

h1{
    text-align: center;
    color: #1A1A1A;
    font-weight: bold !important;
}

h4{
    color: #1A1A1A;
    text-align: center;
}

.logo {
    width: 150px;
}

.pink{
    color: #E9516A;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 86%;
}

.illust {
    padding-top: 30px;
    width: 30em;
}

.instruction {
    padding-top: 40px;
    padding-bottom: 5px;
    color: #1A1A1A;
}

#panjang {
    width: 100%;
    text-align:center;
    margin-top: -10px;
}

input[type=text] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    width:30%;
}

input[type=submit] {
    background-color: #E9516A;
    border: 1px solid #E9516A;
    color: white;
    margin-top: 13px;
    padding: 12px 25px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1A1A1A;
    border: 1px solid #1A1A1A;
    color: white;
    margin-top: 13px;
    padding: 12px 25px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

.reminder {
    margin-top: -10px;
    font-size: 15px;
    color: red;
}

@media(max-width:700px){
    .logo {
        width: 100px;
    }

    h1 {
        font-size: 20px !important;
    }

    h4 {
        font-size: 15px !important;
    }
}