<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/board.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand active" href="#"><img class="logo" src="/img/logoWhite.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Back to Home</a>
            </li>
        </ul>
    </div>
</nav>
<!-- CONTENT -->
<h3 class="judul" th:text="${boardName}"/>
<div class="boards">
<div class="row">
    <div class="col-lg-4">
        <div class="roundedrec">
            <div class="insiderec">
                <h5 class="judul2">To Do</h5>
                <div class="row" th:each="task: ${tasks}">
                    <div class="col-lg-12" th:if="${task.getState() == 'TODO'}">
                        <div class="roundedrec4">
                            <div class="insiderec4">
                                <p th:text="${task.name}"/>
                                <div class="kanan">
                                    <button class="buttontrash"><img class="trash" src="/img/trash.svg"></button>
                                    <button class="button1">On Doing</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="roundedrec5">
            <div class="insiderec5">
                <div class="center">
                    <h5 class="addtask">Add task</h5>
                    <form id="panjang" action="/addTask">
                        <input type="text" name="taskName">
                        <input type="hidden" name="boardName" th:value="${boardName}"/>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="roundedrec2">
            <div class="insiderec">
                <h5 class="judul2">On Doing</h5>
                <div class="row" th:each="task: ${tasks}">
                    <div class="col-lg-12" th:if="${task.getState() == 'ON_DOING'}">
                        <div class="roundedrec4">
                            <div class="insiderec4">
                                <p th:text="${task.name}"/>
                                <div class="kanan">
                                    <button class="buttontrash"><img class="trash" src="/img/trash.svg"></button>
                                    <button class="button2" type="button">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="roundedrec3">
            <div class="insiderec">
                <h5 class="judul2">Done</h5>
                <div class="row" th:each="task: ${tasks}">
                    <div class="col-lg-12" th:if="${task.getState() == 'DONE'}">
                        <div class="roundedrec4">
                            <div class="insiderec4">
                                <p th:text="${task.name}"/>
                                <div class="kanan">
                                    <button class="buttontrash"><img class="trash" src="/img/trash.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>