<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/board.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/js/dashboardLogic.js"></script>
    <script src="/js/dashboardDOM.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var boardName = /*[[${boardName}]]*/ 'default';
        console.log(boardName);

        /*]]>*/
    </script>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand active" href="#"><img class="logo" src="/img/logoWhite.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Back to Home</a>
            </li>
        </ul>
    </div>
</nav>
<!-- CONTENT -->
<div class="boards">
    <div class="row">
        <div class="col-lg-6 boardsName">
            <h1 id="boardTitle" class="judul" th:text="${boardName}"/>
        </div>
        <div class="col-lg-6 email">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary emailTo" data-toggle="modal" data-target="#sendSummary">
                Send Summary <i class="fas fa-paper-plane geserKanan"></i>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="sendSummary" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="sendSummaryTitle">The Board Summary</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body kiri">
                            We'll send the summary of this current board to your email. Please input your email below
                            and kindly check your inbox!
                            <form id="emailForm">
                                <input id="emailInput" type="text" placeholder="Email" required>
                                <div id="loader"><img src="/img/spiner.gif" width="30" height="30" />This may take a while..</div>
                                <div id="checked"><img src="/img/checked.png" width="23" height="23" /> Sent!</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary buttonClose" data-dismiss="modal">Nevermind</button>
                            <button id="getEmail" type="submit" class="btn btn-primary buttonYes">Send it</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskTitle">Edit Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body kiri">
                    Please input your new values to update the task!
                    <form id="editTaskForm">
                        <label for="newTaskNameInput" class="bawahanDikit"><b>Task Name:</b></label>
                        <textarea id="newTaskNameInput" cols="40" rows="1" required></textarea>
                        <label for="newTaskDescriptionInput"><b>Task Description:</b></label>
                        <textarea id="newTaskDescriptionInput" cols="40" rows="5" required></textarea>
                        <textarea id="modalid" cols="40" rows="5" hidden></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary buttonClose" data-dismiss="modal">Close</button>
                    <button th:onclick="modalSubmit()" class="btn btn-primary buttonYes">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="roundedrec">
                <div class="insiderec">
                    <h5 class="judul2" id="todocol">To-Do</h5>
                    <div th:id="${task.id}" class="row" th:each="task: ${tasks}" th:if="${task.getState() == 'TODO'}">
                        <div class="col-lg-12">
                            <div class="roundedrec4">
                                <div class="insiderec4">
                                    <p class="taskName" th:text="${task.getName()}"/>
                                    <p class="taskDesc" th:text="${task.getDesc()}"/>
                                    <div class="kanan">
                                        <button class="button2" th:onclick="|deleteTaskRequest(${task.getId()})|">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        <button class="button2" th:onclick="|showEditTaskModal(${task.getId()})|">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="button1" type="button" disabled>
                                            <i class="fas fa-hand-point-left"></i>
                                        </button>
                                        <button class="button1" type="button"
                                                th:onclick="|moveTaskRequest(${task.getId()} ,'ONDOING')|">
                                            <i class="fas fa-hand-point-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="roundedrec5">
                <div class="insiderec5">
                    <div class="center">
                        <h5 class="addtask">Add task</h5>
                        <form id="taskForm">
                            <input id="taskNameInput" type="text" placeholder="Task Name" required>
                            <textarea id="taskDescriptionInput" cols="40" rows="5" placeholder="Task Description" required></textarea>
                            <div class="center2">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="roundedrec2">
                <div class="insiderec">
                    <h5 class="judul2" id="ondoingcol">On-Doing</h5>
                    <div th:id="${task.id}" class="row" th:each="task: ${tasks}"
                         th:if="${task.getState() == 'ONDOING'}">
                        <div class="col-lg-12">
                            <div class="roundedrec4">
                                <div class="insiderec4">
                                    <p class="taskName" th:text="${task.getName()}"/>
                                    <p class="taskDesc" th:text="${task.getDesc()}"/>
                                    <div class="kanan">
                                        <button class="button2" th:onclick="|deleteTaskRequest(${task.getId()})|"><i
                                                class="fas fa-trash"></i></button>
                                        <button class="button2" th:onclick="|showEditTaskModal(${task.getId()})|">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="button1" type="button"
                                                th:onclick="|moveTaskRequest(${task.getId()} ,'TODO')|">
                                            <i class="fas fa-hand-point-left"></i>
                                        </button>
                                        <button class="button1" type="button"
                                                th:onclick="|moveTaskRequest(${task.getId()} ,'DONE')|">
                                            <i class="fas fa-hand-point-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="roundedrec3">
                <div class="insiderec">
                    <h5 class="judul2" id="donecol">Done</h5>
                    <div th:id="${task.id}" class="row" th:each="task: ${tasks}" th:if="${task.getState() == 'DONE'}">
                        <div class="col-lg-12">
                            <div class="roundedrec4">
                                <div class="insiderec4">
                                    <p class="taskName" th:text="${task.getName()}"/>
                                    <p class="taskDesc" th:text="${task.getDesc()}"/>
                                    <div class="kanan">
                                        <button class="button2" th:onclick="|deleteTaskRequest(${task.getId()})|"><i
                                                class="fas fa-trash"></i></button>
                                        <button class="button2" th:onclick="|showEditTaskModal(${task.getId()})|">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="button1" type="button"
                                                th:onclick="|moveTaskRequest(${task.getId()} ,'ONDOING')|">
                                            <i class="fas fa-hand-point-left"></i>
                                        </button>
                                        <button class="button1" type="button" disabled>
                                            <i class="fas fa-hand-point-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>